
.divTable{
	display: table;
	width: 10%;
}
.headRow {
  display: flex;
	margin-left: 20px;
}

.divCell {
display: table-cell;
}

.cell1 {
	display: flex;
	margin-left: 40px;
	float: left;
	display: table-cell;
	background-color: red;
}

.cell2 {
	display: flex;
	width: auto;
	float: inherit;
	display: table-cell;
background-color: blue;
}

.cell3 {
	display: flex;
	width: auto;
	display: table-cell;
	background-color: green;
}
